*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* <!-- //First Section --> */
.banner{
    width: 100vw;
    height: 60vh;
    background-image: url(./images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-text{
    width: 100%;
    height: 85%;
    display: flex;
    color: white;
    font-size: large;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
}
.banner-title{
    padding: 2%;
    font-weight: bold;
}
#text-decoration{
    padding-left: 8%;
}
.banner-words{
    padding: 2%;
}
.banner-link{
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(rgb(255, 0, 85), rgb(255, 60, 0));
    padding: 10px 50px;
    border-radius: 2%;
    color:white;
    margin-top: 20px;
}
  
/* Second Secion */
.donate-today{
    width: 50%;
    padding: 5%;
    text-align: center;
    padding-left: 25%;
}
.donate-title{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 3%;
    color: rgb(0, 0, 0);
}
.donation-amount{
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
}
.donation-amount li{

    list-style: none;
    margin: 5px;
    padding: 5%;
    background-color: rgba(228, 211, 211, 0.445);
    font-weight: bold;
}
#donation-idcolor{
    border: 2px solid rgba(255, 0, 0, 0.856);
    background-color: rgba(255, 99, 71, 0.719);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.donation-input{
    padding-top: 5%;
    border-bottom: 1px solid rgb(128, 128, 128) ;
    color: grey;
}
.donation-link{
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(rgb(255, 0, 85), rgb(255, 60, 0));
    padding: 10px 50px;
    border-radius: 2%;
    color:white;
    margin-top: 20px;
}
.donationLinkedit{
    padding-top: 5%;
}

/* Third Section */

#donationplan-para{
    text-align: center;
    
}
.donateplan-title{
    text-align: center;
    padding-top: 2%;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    
}
.donateplan-part{
    width: 50px;
    height: 50px;
    margin-left:20px;
    margin-top: 35px;
   margin-bottom: 20px;
}
.donatepart-header {
  margin-top: 20px;
  margin-left:15px;
  font-weight: 500;
  font-size: 20px;
  

}
.donateplan-des{
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 30px;
    
}
.donatesection1{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 40px;
    border: 1px  gray;
    background-color: gray;
    color: black;
    
}
.donatesection2{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 40px;
    border: 1px  gray;
    background-color: rgba(77, 188, 216, 0.849);
    color: aliceblue;
}
.donatesection3{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 40px;
    border: 1px  gray;
    background-color: rgb(203, 238, 157);
}
.donatesection{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* middle-part */

.middle-part{
    display: flex;
    margin-top: 20px;
}

.half-width{
    width: 50%;
    padding: 5%;
}
.middletitle{
    color:black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
 }
 #middle-para{
    margin-bottom: 50px;
    margin-left: 20px;
 }
 #middlepart-img{
    width: 38vw;
    height: 45vh;
    border-radius: 2%;
 }
 #middle-banner{
    text-align: center;
    margin-left: 50px;
 }

 .middlelastflex{
     display: flex;
     align-items: center;
     width: 800px;
     height: 100px;
     border: 1px gray;
     margin-left: 320px;
     margin-top: 40px;
     background-color: rgb(128, 128, 128);
 }

 #middlelast{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
 }
#middlelastpara{
    text-align: center;
    font-size: 15px;
    
}
#inputformbig{
    width: 190px;
    height: 36px;
    margin-top: 80px;
}

.middleemail{

   height: 200px;
    margin-left: 200px;
    /* margin-bottom: 30px; */
}
#middlelastbtn{
    margin-left: -4px;
    margin-bottom: 4px;
    
}

/* Footer Part */
.footer-class{
    width: 100vw;
    height: 30vh;
    background-color: black;
    margin-top: 200px;
    
}
.footer-title{
    color: tomato;
    margin: 10px 40px;
    padding-top: 3%;
    text-align: center
    
}
#footer-firstpara{
    text-align: center;
}
#footer-lastpara{
    margin-top: 20px;
}
.footer-end{
    color: tomato;
    text-align: center;
}
